.clock-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .clock {
        font-size: 3rem;
        text-align: center;
    }

    .date {
        font-size: 1rem;
        text-align: center;
    }
}
