<div class="picture-detail-wrapper" *ngIf="picture && pictureData">
    <div class="picture-detail-actions">
        <button class="picture-detail-btn" (click)="openImageWebsite($event)">
            <i-feather name="external-link"></i-feather>
            Visit {{ picture.from }} page
        </button>

        <button class="picture-detail-btn" (click)="downloadImage($event)">
            <i-feather name="download"></i-feather>
            Download
        </button>
    </div>

    <div class="picture-detail-content">
        <section class="picture-detail-section"
            [ngClass]="{
                'odd': odd,
                'even': even
            }"
                *ngFor="let item of pictureData; let odd = odd; let even = even;">
                <div class="picture-detail-section-label">{{ item.label }}</div>
                <div class="picture-detail-section-value">{{ item.data }}</div>
        </section>
    </div>

<!--
        <h2>General</h2>
        <div class="picture-detail-section-row">
            <label for="theme">Theme:</label>
            <select name="theme" [ngModel]="settings.theme" (ngModelChange)="selectTheme($event)">
                <option [value]="themeType.DARK">{{ themeType.DARK | lowercase }}</option>
                <option [value]="themeType.LIGHT">{{ themeType.LIGHT | lowercase }}</option>
            </select>
        </div>
 -->
</div>
